.bfo-handle {
  width: 20px;
  display:inline-block;
  margin-left: -20px;
  fill: var(--color-base-70) !important;
}

.bfo-handle:hover {
  fill: rgb(114, 240, 156) !important;
  /* fill: var(--accent-h) !important; */
  cursor: grab;
}